/* Hero */

.custom-shape-divider-bottom-1665343298 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-bottom-1665343298 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
}
.hero-title-gradient {
  background: -webkit-linear-gradient(white, #b4add1);
  -webkit-background-clips: text;
  -webkit-text-fill-color: transparent;
}

/* Features Top */

.custom-shape-divider-bottom-1665696614 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1665696614 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}

/* Features Bottom */

.custom-shape-divider-top-1665696661 {
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top-1665696661 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}

.fondo_prograwebs {
  animation: moveUpDown 2s ease-in-out infinite;
  animation-delay: 1.6s;
}

@keyframes moveUpDown {
  0% {
    transform: translate(0) translateY(0);
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.35));
  }

  50% {
    transform: translate(-2px) translateY(-7px);
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.35));
  }
}
/* MODAL */
.nombre {
  padding: auto;
  margin-bottom: 0.8rem;
  border-radius: 0.5rem;
  text-align: left;
}
