---
import "@fontsource/inter";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Language" content="es-EC" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/codigo.png" />
    <script id="hydro_config" type="text/javascript">
      window.Hydro_tagId = "8aa04a46-66ba-4e04-a27d-dd8cc7851cb3";
    </script>
  <script id="hydro_script" src="https://track.hydro.online/"></script>
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Prograwebs ofrece soluciones en desarrollo de aplicaciones web, móviles, sitios web y páginas web personalizadas desde Ecuador. Contacta con nosotros para hacer realidad tu proyecto digital."
    />

    <meta
      name="keywords"
      content="PrograWebs, desarrollo web, desarrollo móvil, tecnologías modernas, alta calidad, aplicaciones web, aplicaciones móviles, "
    />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#48D361" />
    <meta name="author" content="PrograWebs" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      html {
        font-family: Inter;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }

      [id] {
        scroll-margin-top: 4.5rem;
      }
    </style>
  </body>
</html>
